.file_ico{
    display: inline-block;
}
.storage{
    /*padding: 2% 5%;*/
    display: flex;
    /*width: 100%;*/
    height: 100%;
    /*height: calc(100% - 10px);*/
   /* position: absolute;
    top: 0;
    bottom: 0;*/

}
.storage_wrapper{
    overflow-y: scroll;
    height: calc(100% - 3.5em - 32px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    position: relative;
}
.storage_public, .storage_private{
    /* display: table-cell;
     width: 45%;*/
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.09);
    overflow-y: visible;

}

.storage_header{
    font-size: 1.3em;
    height: 1.5em;
    border-top: 1px solid rgba(0, 0, 0, 0.09);
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    padding-top: 0.5em;

}
.file{
    margin: 10px;
    height: 64px;
    /*vertical-align: middle;*/
    text-align: left;
    border-radius: 12px;
    display: flex;

}
.file:hover{
    background-color: rgba(0, 0, 0, 0.11);
}

.fileName{
    height: 64px;
    min-width: 30px;
    flex: 1 1 auto;
    display: inline-block;
    border: 0;
    background-color: transparent;

    /* position: absolute;*/

}
.file_author{
    display: inline-block;
    font-size: 0.6em;
    height: 64px;
    line-height: 64px;
    margin: 0 10px;

}
.file_ico{
    width: 64px;
    height: 64px;
    display: inline-block;

}


.btn_load_file{
    height: 1.5em;
    margin: 10px 0;

}

.file_delete{
    display: inline-block;
    width: 24px;
    height: 24px;

    margin: 20px 10px;
    border-radius: 12px;
}


.file_share{
    display: inline-block;
    width: 24px;
    height: 24px;


    margin: 20px 10px;
    border-radius: 4px;
}

.file_time{
    font-size: 0.8em;
    display: inline-block;
    height: 64px;
    line-height: 64px;
    margin-right: 15px;
}
input[type=text]{
    background-color: transparent;
}
.diagram_text{
    font-size: 0.7em;
    transform: translateY(0.25em);
    text-anchor: middle;
}
svg{
    opacity: 0.15;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}


