#myTreeContainer{
    overflow: auto;
    display: inline-block;
    background-color: rgba(138, 213, 244, 0);
}
.staff_container{
    width: 30%;
    overflow-y: auto;
    display: inline-block;
    max-height: 95%;
    margin-left: 5px;

}
canvas{
    overflow: auto;
   /* width: 2000px;
    height: 2000px;*/
}
.block_item_container{
    margin-top: 10px;
}
.person_photo_staff{
    width: 100px;
    background-color: #bdfa8a;
    margin: 2px 10px;

}
.person_photo_staff:hover{
    opacity: 0.5;
    border: 2px solid rgba(0, 0, 0, 0.51);
    width: 96px;

}

.person_staff{
    width: 100%;
    height: 100px;
    /*margin-top: 20px;*/
    margin: 10px 0;
    /*overflow: hidden;*/



}

.person_point{
    display: inline-block;
    line-height: 2em;



}
.person_name_staff{
}
.person_position{
}
.flowchart_wrapper{
    display: inline-block;
    width: 70%;
    height: calc(100% - 41px);
    line-height: calc(100% - 41px);
    max-height: calc(100% - 41px);
}
.flowchart_frame{
    width: 100%;
    height: 100%;
    margin-bottom: 7px;
}

.tree_wrapper{
    margin: 5px;
    height: calc(100% - 10px);
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: stretch;

}
.node_tool{
    height: 24px;
    margin: 0 5px;
}
.node_tool:hover{
    opacity: 0.7;
}

.node_tools{
    margin-top: 10px;
    display: inline-block;
}
.block_item_container{
    padding: 0 5px;
}
button{
    margin: 0 20px;
}

