#myTreeContainer{
    overflow: auto;
    display: inline-block;
    background-color: #8ad5f4;
}
.staff_container{
    width: 25%;
    overflow-y: auto;
    display: inline-block;

}
canvas{
    overflow: auto;
   /* width: 2000px;
    height: 2000px;*/
}
.block_item_container{
    margin-top: 10px;
}
.person_photo_staff{
    width: 100px;
    background-color: #bdfa8a;
    margin: 2px 10px;

}
.person_photo_staff:hover{
    opacity: 0.5;
}

.person_staff{
    width: 100%;
    height: 100px;
    /*margin-top: 20px;*/
    margin: 10px 0;
    /*overflow: hidden;*/



}

.person_point{
    display: inline-block;
    line-height: 2em;



}
.person_name_staff{
}
.person_position{
}

.flowchart_frame{
    display: inline-block;
    width: 70%;
    height: 100%;
}

.tree_wrapper{
    margin: 5px;
    height: 95%;
}