body{
    margin: 0;
   /* display: flex;*/
    background: linear-gradient(right, color-stop(0%, #fffbce), color-stop(50%, #d7f7c7));
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(210, 245, 255, 0.61)), color-stop(50%, rgba(215, 247, 199, 0.37)));
}
h1{
    font-size: 4em;
    color: #fff8e1;
    text-shadow: 0 0 10px #000000, 0 0 2px black;

}
div{
    padding: 100px;
}
.header_text_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 100px 20px;
}
#header{

    text-align: center;
    vertical-align: middle;
    /*background: url("../data/office.jpg")  no-repeat center center fixed;
    background-size: cover;*/
    /*-webkit-background-size: 100%;*/
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.51);
}
.features, .variants{
    margin: 0 auto;
    /*width: 80%;*/
    font-size: 2em;
    /*text-align: center;*/
}
.lets_go{
   transform: translateX(1000px);
    position: absolute;
    opacity: 0;


}
.lets_go_showed{
    position: absolute;
    transform: none;
    opacity: 100%;
    transition: transform 0.5s, opacity 0.5s;
    color: #00e8ff;
    text-shadow: 0 0 1px black;
    /*transition: transform 0.4s ease;*/
}
.lets_go_showed:hover, .lets_go:hover{
    color: red;
    cursor: default;
}

.wrapper{
    padding: 0;
    display: inline-block;
    width: 30%;
}
.wrapper:hover{
    cursor: default;
}
