.editor{
    display: none;
}
.sample_editor{
    display: none;
}
.post_message{
    margin-top: 10px;
    width: 100%;
}
.post_submit{
    display: none;
}



.post_submit{
    width: 15em;
    height: 2em;
    font-size: large;
    margin: 10px;
    border-radius: 20px;
    transition: margin-top 0.4s ease, margin-bottom 0.4s ease, box-shadow 0.4s ease;
}
.post_submit:hover{
    margin-top: 5px;
    margin-bottom: 15px;
    box-shadow: 0 5px 5px;
    transition: margin-top 0.2s ease, margin-bottom 0.2s ease, box-shadow 0.2s ease;
}
.post{
    margin: 15px 0 15px 0;
    width: 100%;
    box-shadow: 0 0 10px #000000;
    font-size: 1.2em;
    clear:both; float: right;
    text-align: left;
}
.posts{
    overflow-y: auto;
    /*max-height: calc(100% - 41px);*/
    max-height: 92%;
    border: 1px solid #cdced8;
    border-top: 3px groove rgba(205, 206, 216, 0.47);
    border-bottom: none;
    margin-top: 20px;
}
p{
    margin: 10px;
}

.message_info_w{
    /*width: 390px;*/
    display: inline-flex;
    border-spacing: 20px 0;


}
.message_info_wrapper{
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}
.message_time_w{

    vertical-align: middle;
    line-height: 32px;
}
.person_name_w{
    /*float: none;*/

    vertical-align: middle;
    line-height: 32px;
    margin-right: 20px;

}

.person_photo_small{
    margin-right: 20px;
    width: 32px;
    height: 32px;
}

.delete_message{
    float: right;
}