body{
    display: flex;
    flex-direction: column;
    background: url("../../data/app/office2.jpg") no-repeat;
    background-size: 100%;
    align-items: center;
}
label{
    width: max-content;
}

input, select{
    /*width: 60%;*/
}
select{
    margin: 2px;
    flex: 10 1 auto;
}
.properties_board{
    width: fit-content;
    margin: auto;
    padding: 10px 0;
    border-radius: 20px;
    border: 1px solid #8ad5f4;
    box-shadow: 0 0 20px #000000;

}
.prop_line{
    margin: 5px 30px;
}
.prop_label{
    flex: 1 0 auto;
    margin-right: 10px;
    white-space: nowrap;
}
textarea{
    flex: 1 1 auto;
}
.commit{
    width: 30%;

}
.inline{
    display: flex;
    flex: 0 0 auto;
    margin: 3px 0;
}
.inline_parent{
    text-align: right;
    vertical-align: middle;
}
input[type=file]{
    width: auto;
}
.title_pref{
    text-align: center;
}

input[type=button]{
    margin: 0 5px;
    width: 30%;
}
input[type='text']{
    background-color: white;
}

.password_board{
    border-top: 1px solid rgba(128, 128, 128, 0.31);
    border-bottom: 1px solid rgba(128, 128, 128, 0.31);
    display: none;
    background-color: rgba(0, 0, 0, 0.09);
    padding: 10px;
}

.prop_log_view{
    color: red;
    margin: 10px;
    min-height: 1em;
}
.prop_log_fadeout{
    color: transparent;
    transition: 1s ease-out 1.5s;
}
#password_cancel, #password_save{
    margin-right: 30px;
    flex: 0 1 25%;
}
span{
    flex: 1 0 auto;
    text-align: right;
}
.spanVal{
    min-width: 50%;
}

img{
    border: 1px solid rgba(128, 128, 128, 0.41);
}
#main-btn{
    width: 150px;
    margin: 20px auto;
    display: block;
}
.position_delete{
    height: 1em;
    border: none;
    margin-left: 10px;
}
.positions{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.11);
    padding: 5px;
    border-radius: 3px;
    min-height: 2em;
}
.position{
    display: flex;
}
.position_name{
    flex: 1 1 auto;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    flex: 10 1 auto;
    border-radius: 3px;
    max-width: 70%;
}
button, input[type=submit], input[type=button], input[type=file]{
    font-size: 0.8em!important;
    margin: 0 5px;
    flex: 0 0 auto;
}
hr{
    size: 1px;
    border-color: rgb(200, 202, 209);
    flex: 1 0 1px;
    width: 92%;

}
img{
    height: 15px;
    width: 17px;
    margin-left: 5px;
}

.small_input, #corpKey{
    flex: 1 1 auto;
}
.fixed_min{
    flex: 0 0 auto;
}
.fixed_max{
    flex: 1 0 auto;
}
input[type=radio], input[type=checkbox]{
    flex: 0 1 auto;
    justify-content: left;
    justify-items: left;
    justify-self: left;
    margin: 0 20px;
}

.auth_submit_button{
    flex: 0 1 200px!important;
}
#user_profile, #user_props{
    min-width: 600px;
}
.user_photo{
    height: 128px;
    width: 128px;
}
