.tool{
    border: 1px inset rgba(56, 56, 56, 0.29);
    border-radius: 0 15px 15px 0;
    margin: 8px 5px 5px 5px;
    padding: 5px 10px 5px 10px;
    font-size: 1.3em;
    cursor: default;
}
.tool:hover{
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.56);

}

