body{

    background-color: rgba(59, 59, 31, 0.15);
}
label{
    width: max-content;
}

input{
    width: 73%;
}
.properties_board{
    width: 25%;
    min-width: 620px;
    margin: 100px auto;
    padding: 10px 0;
    background-color: rgba(174, 239, 120, 0.57);
    border: 3px ridge #c3cda9;
    border-radius: 5px;


}
.prop_line{
    margin: 20px;
}
.prop_label{
    display: inline-block;
    width: 25%;
}
.commit{
    width: 30%;
}
.inline{
    display: inline-block;
    margin: 0 30px;
}
.inline_parent{
    text-align: right;
    vertical-align: middle;
}
input[type=file]{
    width: auto;
}
.title_pref{
    text-align: center;
}
h3{
    transform: translateY(-50px);
}
input[type='checkbox']{
    width: auto;
}

.password_board{
    border-top: 1px solid rgba(128, 128, 128, 0.31);
    border-bottom: 1px solid rgba(128, 128, 128, 0.31);
    display: none;
    background-color: rgba(0, 0, 0, 0.09);
    padding: 10px;
}
#password_save{
    width: auto;
}
.prop_log_view{
    color: red;
    margin: 10px;
    min-height: 1em;
}
.prop_log_fadeout{
    color: transparent;
    transition: 1s ease-out 1.5s;

}
