<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../views/auth/start.css">
</head>
<body>
<div>
    <label class="reg_field">
        Введите Ваше имя
        <input type="text">
        <img src="/resources/checkbox.jpg">
    </label><br>
    <label class="reg_field">
        Введите пароль&nbsp&nbsp&nbsp&nbsp&nbsp
        <input type="password">
        <img src="/resources/checkbox.jpg">
    </label><br>
</div>
</body>
</html>