<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="start.css">
</head>
<body>
<div class="reg_container">
    <form enctype="multipart/form-data" method="post"></form>
    <div class="reg_block">
    <label class="reg_field">
        Введите Ваше имя:
        <input type="text">
        <img src="../../resources/checkbox.jpg">
    </label>
    </div>
    <div class="reg_block">
    <label class="reg_field">
        Введите пароль:
        <input type="password">
        <img src="../../resources/checkbox.jpg">
    </label>
    </div>
    <div class="reg_block">
    <label class="reg_field">
        Повторите пароль:
        <input type="password">
        <img src="../../resources/checkbox.jpg">
    </label>
    </div>
    <div class="form_photo reg_block">
        <label class="reg_field">Загрузите фото:
        <input type="file" name="avatar" accept="image/*" class="select_avatar">
        <img src="../../resources/checkbox.jpg">
        </label>
    </div>
</div>
</body>
</html>