<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../resources/static/auth/start.css">
</head>
<body>
<div class="reg_container reg_org_container">
    <div class="reg_block">
        <label>
            Введите название организации:
            <input type="text">
            <img src="../../resources/checkbox.jpg">
        </label>
    </div>
    <div class="reg_block">
        <label>
            Добавьте описание:
            <textarea></textarea>
            <img src="../../resources/checkbox.jpg">
        </label>
    </div>
    <div class="reg_block">
        <label>
            Добавьте отделы / структурные подразделения:
            <input type="text">
            <button>добавить</button>
            <img src="../../resources/checkbox.jpg">
        </label>
    </div>
</div>
</body>
</html>