.group{
    font-size: large;
    background-color: #8ad5f4;
    border-radius: 5px;
    margin-bottom: 20px;
}

.groups{
    display: inline-block;
    margin-right: 30%;
    vertical-align: middle;
    height: 100%;

}

.groups_container{
    height: 100%;
}