body{
    background: linear-gradient(bottom, #000000, grey);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #09070a), color-stop(100%, #a62d28));
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.http_error{
    font-size: larger;
    color: red;
    flex: 1 0 auto;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}
p{
    text-shadow: 0 0 10px red;
    font-size: 2vh;
}