.checkbox{
    opacity: 0;
}
.checkbox_on{
    opacity: 1;
}
.user_profile{
    display: none;
}

.net_status_circle{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: blue;
    display: inline-block;
}
#net_status_off{
    background-color: #ded9dd;
}

.jspError{
    color: red;
    margin-bottom: 10px;
    font-size: 0.7em;
    display: block;
    text-align: center;
}
form{
    margin-bottom: 0;
}

/*wall and chat*/
