.tools, .contacts, .wall{
    height: 100%;
    position: relative;


}
header{
    height: 10%;
    min-width: 100%;
    width: 100%;

}
body{
    height: 90%;
    margin: 0;
    padding: 0;
}
iframe{
    width: 100%;
}
.user{
    position: relative;
    float: right;


}
.title{
    display: inline-block;
    background-color: cornflowerblue;
    float: left;
    position: relative;
    vertical-align: middle;
    width: 50%;
    font-size: 3em;
}
.user_name, .user_photo, .title{
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}
.user_photo{
    background-color: #bdfa8a;
    width: 60px;
    height: 60px;
}
.user_name{
    right: 10px;
}

.container{
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    background-color: beige;
    text-align: center;
}
.tools{
    background-color: #bdfa8a;
    width: 20%;
    float: left;
    border: 5px ridge burlywood;
    border-right: double black;
    border-left: double black;
    display: inline-block;
    margin-left: 10px;



}
.wall{
    background-color: antiquewhite;
    display: inline-block;
    width: 50%;
}
#post_modal{
    alignment: center;
}
.post_message{
    margin-top: 10px;
    width: 100%;
}
.post_submit{

}
.contacts{
    background-color: #fae185;
    width: 15%;
    float: right;
    border: 5px ridge burlywood;
    border-right: double black;
    border-left: double black;
    display: inline-block;
    margin-right: 10px;

}
