.tools, .contacts, .wall{
    height: 100%;
    position: relative;
    padding: 5px;

}
header{
    height: 10%;
    min-width: 100%;
    width: 100%;

}
body{
    height: 90%;
    margin: 0;
    padding: 0;
}
.container{
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    background-color: beige;
}
.tools{
    background-color: #bdfa8a;
    width: 20%;
    float: left;
    border-right: 5px double black;
    border-left: 5px double black;
    display: inline-block;


}
.wall{
    background-color: antiquewhite;
    width: 57.3%;
    float: left;
    display: inline-block;

}
.contacts{
    background-color: #fae185;
    width: 20%;
    float: right;
    border-right: 5px double black;
    border-left: 5px double black;
    display: inline-block;

}
.user_item{
    overflow: hidden;
    border: 3px inset rgba(56, 56, 56, 0.29);
    border-radius: 7px;
    margin: 5px;
    padding: 2px;
    background-color: #bdfa8a;
    vertical-align: middle;

}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: blue;
    display: inline-block;


}
.user_name{
    display: inline-block;
    float: right;
}