img{
    display: table-cell;
}
input{
    margin-top: 20px;
    margin-bottom: 20px;
}
.chat_gen_container{
    border-radius: 10px;
   /* background-color: rgba(107, 199, 206, 0.15);*/
    overflow-y: auto;
    text-align: center;

}
.message{
    margin: 10px 10px;
    border-radius: 5px;
    background-color: rgba(111, 235, 98, 0.11);
    display: table;
    width: calc(100% - 30px);
    text-align: right;
    padding: 10px 0 10px 10px;

}

.message_text{
    display: table-cell;
    max-width: 80%;
    text-align: left;
    font-size: 1.2em;
    line-height: 1em;
}
.message_info{
    width: 390px;
    display: inline-table;
    margin: 0 10px 0 10px;

}
.message_time{
    display: table-cell;
    vertical-align: middle;
}
.person_name{
    float: none;
    display: table-cell;
    vertical-align: middle;
}

.new_genchat_message{
    font-size: 1.2em;
    width: 87%;
    border-radius: 10px;
    outline: 0;
    padding: 0 1em;
}
.new_genchat_message_btn{
    width: 10%;
    font-size: 1.2em;
    border-radius: 10px;
    outline: 0;
}
button{
    background-color: #bdfa8a;
}
button:hover{
    box-shadow: 0 0 5px black;
}

.private_chat{
    font-size: 1.2em;
}

.comment_bubble_left {
    width: 70%;
    /*height: 100px;*/
    background: rgba(104, 201, 0, 0.2);
    position: relative;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    margin-bottom: 20px;
    margin-left: 26px;
    text-align: justify;
    padding: 10px;
    align-self: flex-start;


}

.comment_bubble_left:before {
    content: " ";
    width: 0;
    height: 0;
    right: 100%;
    /*top: 38px;*/
    position: absolute;
    border-top: 6px solid transparent;
    border-right: 26px solid rgba(104, 201, 0, 0.2);
    border-bottom: 13px solid transparent;
}

.comment_bubble_right {
    width: 70%;
    /*height: 100px;*/
    background: rgba(107, 199, 206, 0.2);
    position: relative;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    margin-bottom: 20px;
    margin-right: 26px;
   /* float: right;*/
    text-align: justify;

    align-self: flex-end;
    padding: 10px;

}

.comment_bubble_right:before {
    content: " ";
    width: 0;
    height: 0;
    left: 100%;
    /*top: 38px;*/
    position: absolute;
    border-top: 6px solid transparent;
    border-left: 26px solid rgba(107, 199, 206, 0.2);
    border-bottom: 13px solid transparent;
}


.private_chat_profile{
    position: relative;
    margin: 20px;
}

.person_photo_chat{
    display: block;
    height: 100px;
    width: 100px;
    background-color: white;

}
.person_name_chat{
    display: inline-block;
    /*vertical-align: middle;*/
    position: absolute;
    height: 100px;
    line-height: 100px;


}
.person_container{
    display: inline-block;


}
.private_chat_container{
    display: inline-flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 80%;
    /*background-color: white;*/
    border: 1px solid rgba(138, 138, 138, 0.33);
    padding: 10px 0;
    border-radius: 5px;
    line-height: 120%;

}
.time-right, .time-left{
    font-size: 0.7em;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px;

}
.time-right {
    float: left;
    margin: 0 10px 0 -10px;
    border-radius: 0 10px 10px 0;
}
.time-left{
    float: right;
    margin: 0 -10px 0 10px;
    border-radius: 10px 0 0 10px;
}



