img{
    display: table-cell;
}
input{
    margin-top: 20px;
    margin-bottom: 20px;
}
.chat_gen_container{
    border-radius: 10px;
   /* background-color: rgba(107, 199, 206, 0.15);*/
    overflow-y: auto;
    text-align: center;

}
.message{
    margin: 10px 10px;
    border-radius: 5px;
    background-color: rgba(117, 213, 220, 0.16);
    display: table;
    width: calc(100% - 20px);
    text-align: right;
    padding-left: 10px;

}

.message_text{
    display: table-cell;
    max-width: 80%;
    text-align: left;
    font-size: 1.2em;
    line-height: 1em;




}
.message_info{
    width: 390px;
    display: inline-table;
    margin: 0 10px 0 10px;

}
.message_time{
    display: table-cell;
    vertical-align: middle;
}
.person_name{
    float: none;
    display: table-cell;
    vertical-align: middle;
}

.new_genchat_message{
    font-size: 1.2em;
    width: 87%;
    border-radius: 10px;
    outline: 0;
    padding: 0 1em;
}
.new_genchat_message_btn{
    width: 10%;
    font-size: 1.2em;
    border-radius: 10px;
    outline: 0;
}


